src/main/resources/api/Movies.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="BookMovie">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Movieid" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="noOfseats" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="paymentmode" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="BookMovieResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="BookMovieResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CancelMovie">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="BookingID" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="paymentmode" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CancelMovieResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="CancelMovieResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="BookMovieSoapIn">
<wsdl:part name="parameters" element="tns:BookMovie"/>
</wsdl:message>
<wsdl:message name="BookMovieSoapOut">
<wsdl:part name="parameters" element="tns:BookMovieResponse"/>
</wsdl:message>
<wsdl:message name="CancelMovieSoapIn">
<wsdl:part name="parameters" element="tns:CancelMovie"/>
</wsdl:message>
<wsdl:message name="CancelMovieSoapOut">
<wsdl:part name="parameters" element="tns:CancelMovieResponse"/>
</wsdl:message>
<wsdl:portType name="HotelsSoap">
<wsdl:operation name="BookMovie">
<wsdl:input message="tns:BookMovieSoapIn"/>
<wsdl:output message="tns:BookMovieSoapOut"/>
</wsdl:operation>
<wsdl:operation name="CancelMovie">
<wsdl:input message="tns:CancelMovieSoapIn"/>
<wsdl:output message="tns:CancelMovieSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="HotelsSoap" type="tns:HotelsSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BookMovie">
<soap:operation soapAction="http://tempuri.org/BookMovie" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelMovie">
<soap:operation soapAction="http://tempuri.org/CancelMovie" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="HotelsSoap12" type="tns:HotelsSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BookMovie">
<soap12:operation soapAction="http://tempuri.org/BookMovie" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelMovie">
<soap12:operation soapAction="http://tempuri.org/CancelMovie" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Hotels">
<wsdl:port name="HotelsSoap" binding="tns:HotelsSoap">
<soap:address location="http://localhost:59006/Hotels.asmx"/>
</wsdl:port>
<wsdl:port name="HotelsSoap12" binding="tns:HotelsSoap12">
<soap12:address location="http://localhost:59006/Hotels.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>